body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.flex-container {
    display: flex;
    flex: 1; /* take all the available space */
    background-color: #fcf2ff;
    padding: 10px;
    height: calc(100vh - 60px - 74px); /* 60px for header and 40px for footer */
    overflow-y: auto; /*if the content is larger than the space */
    align-items: center;
    justify-content: center;
}

