img {
  width: 100%;
}

.Main {
  background-image: url("../img/background.jpeg");

  background-size: cover;
  height: 95vh;
  color: #fff;
  font-size: x-large;
  margin: 0px auto;
  padding: 0px auto;
  filter: blur(8px);
}

.mainContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #00000075;
  border-radius: 25px;
}

.mainContainer h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}
.mainContainer p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}
.background {
  background-image: url("../img/background.jpeg");
  background-size: cover;
  /* height: 90vh; */
  height: calc(100vh - 55px - 93px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
}
