.container-sign-up-form {
  width: 340px;
  padding: 50px 20px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #f7f5ff;
}

.login-section {
  margin-top: 40px;
  text-align: center;
}

.sign-up-button-section {
  text-align: right;
}
